body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: url("./images/cities/city_5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  background: #fff;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: -4px 1px 5px 0px rgba(0, 0, 0, 0.75);
  text-decoration: none;
  color: #000;
  font-size: 30px;
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: " ";
  position: absolute;
  background: orangered;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50px;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
  width: 300px;
  height: 300px;
}

.btn span {
  position: relative;
  z-index: 1;
}
