body {
  margin: 0;
  padding: 0;
  background: url("./images/nature/nature_5.jpg");
  background-size: cover;
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.clock {
  background: #fff;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  position: relative;
}

img {
  width: 90px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
  z-index: 2;
}
