body {
  margin: 0;
  font-family: cursive;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color-container {
  background: orange;
  width: 300px;
  height: 150px;
  color: #fff;
  margin: 5px;
}
